node_modules/
dist/
out/
.DS_Store
tmp/
.env
.env.local
packages/*/dist
packages/*/node_modules
packages/railgun/demo/cache/
packages/railgun/tests/cache/*
packages/pq-account/foundry.lock
.claude
.envrc
.direnv