name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'
      - name: Install
        run: |
          pnpm config set auto-install-peers false
          pnpm install --frozen-lockfile=false
      - name: Build all packages
        run: pnpm -r build
      # - name: Create Release PR or Publish
      #   uses: changesets/action@v1
      #   with:
      #     publish: pnpm release
      #   env:
      #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      # TODO: setup npm token
